<div id="available-forums" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/forum/available-forums.less</em>, <em>assets/js/pages/forum/available-forums.page.js</em>, and <em>api/controllers/forum/view-available-forums.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
